.table {
    width: 500px;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 8px;
}
.table thead{
    background-color:#00897B;
    color:white;
}
.table thead td{
    padding: 16px 20px;
    font-weight: bold;
    text-align: left;
    font-size: 1.1em;

}
.table tr{
    border-bottom: 1px solid #e0e0e0;
}
.table td{
    padding: 14px 20px;
}
.table .higlight{
    background-color: #f0f0f0;
}
.table .higlight td:nth-child(1),
.table .higlight td:nth-child(2),
.table .higlight td:nth-child(3)
{
    color: #00897B;
    font-weight: bold;
}


